.navigation {
  color: #F5F5F5;
  font-size: 20px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4D4C7D;
        border-radius: 10px;
      }
    }
  }
  
}
