.main {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  @media (max-width: 1440px) {
    margin: 0 auto;
    width: calc(100% - 200px);
  }
  h1 {
    color: #F99417;
    font-family: 'Rubik Mono One', monospace;
    font-size: 60px;
    text-wrap: balance;
    text-shadow: 0 0 16px #363062;
    @media (max-width: 1440px) {
      font-size: 40px;
    }
  }
  img {
    width: 600px;
    @media (max-width: 1440px) {
      width: 400px;
    }
  }
}

.circle1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #F99417;
  border-radius: 50%;
  left: 60%;
  top: 10%;
  z-index: -1;
}

.circle2 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #363062;
  border-radius: 50%;
  left: 4%;
  top: 75%;
  z-index: -1;
  box-shadow: 0 0 10px 4px #F99417;
}



.circle3 {
  @keyframes circleLoop {
    0% {
      width: 40px;
      height: 40px;
      border: 2px solid #F99417;
      left: calc(55% + 105px);
      top: calc(60% + 105px);
    }
    100% {
      width: 250px;
      height: 250px;
      border: 10px solid #F99417;
      top: 60%;
      left: 55%;
    }
  }
  position: absolute;
  animation: circleLoop 2.5s infinite ease-in-out alternate;
  border-radius: 50%;
  z-index: -1;
}
